<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PiSurveillancer Client</title>
        <style>
            button{
                border: none;
                color: white;
                font-size: 20px;
            }
            #start-btn{
                background-color: green;
            }
            #stop-btn{
                background-color: red;
            }
        </style>
    </head>
    <body>
		<img src="https://img.icons8.com/ios-glyphs/90/000000/camera.png" alt="camera" id="camera">
        <br>
        <button type="button" id="start-btn" onclick="commander('start')">Start</button>
        <button type="button" id="stop-btn" onclick="commander('stop')">Stop</button>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io()
            
            // server connection handling
            socket.on("connect_error", (err) => {
                console.clear()
                console.log(`server connection error: ${err.message}`);
            });

            function commander(command) {
                // send start camera command
                socket.emit(command, "")
            }

            // update frames
            let data = ""
            socket.on('frame', (data) =>{
                document.getElementById("camera").src=data;
            })

            // connection handling
            socket.on('error', () => {
                console.log("Server connection failed")
            })
        </script>
    </body>
</html>